[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"django" = "==2.2.1"
"pycrypto" = "==2.6.1"
django-ipware = "==2.1.0"

[dev-packages]
django-debug-toolbar = "==1.11"

[requires]
python_version = "3.6"
